@import "./nullstyle.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./try.scss";
/*подключение шрифтов*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: Montserrat;
}

.main_slider {
  .slick-list {
    overflow: hidden;
    width: 100%;
    //margin: 0 auto;
    position: relative;
  }
  .slick-track {
    min-height: 700px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: relative;
  }
  .slick-arrow {
    position: absolute;
    font-size: 0;
    width: 50px;
    height: 50px;
    z-index: 3;
    top: calc(35%);
  }
  .slick-arrow.slick-prev {
    right: calc(50% - 480px);
    background: url("../img/arrow-back.svg") 50% 50% / contain no-repeat;
    &:hover {
      background: url("../img/arrow-back-hover.svg") 50% 50% / contain no-repeat;
    }
  }
  .slick-arrow.slick-next {
    right: calc(50% - 535px);
    background: url("../img/arrow-next.svg") 50% 50% / contain no-repeat;
    &:hover {
      background: url("../img/arrow-next-hover.svg") 50% 50% / contain no-repeat;
    }
  }
}

.main_screen {
  transform: translateY(-16%);
  width: 100%;
  top: 0;
  z-index: 0;
  .container {
    position: relative;
  }
}

.main_slider__item {
  padding: 255px 0;
  width: 100%;
  background: url("../img/main.webp") 50% 0% / cover no-repeat;
  .container {
    top: 20px;
  }
  h1 {
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 35px;
    line-height: 43px;
    color: #ffffff;
    max-width: 420px;
  }
  .main_screen__text {
    font-size: 16px;
    line-height: 20px;
    color: #f7f7f7;
    margin-bottom: 15px;
    max-width: 420px;
  }
}

.main_slider__subrow {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  max-width: 375px;
}

.main_slider__subitem {
  flex: 0 1 45%;
}

.main_slider__button {
  width: 160px;
  height: 45px;
  background: #cc005e;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  position: relative;
  transition-duration: 500ms;
  &:hover {
    background-color: #ad0050;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: -20%;
    display: inline-block;
    height: 100%;
    width: 1px;
    background-color: #fff;
  }
}

.main_slider__approw {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.main_slider__appitem {
  margin: 0 10px;
  width: 20px;
  height: 20px;
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.main_slider__appstore {
  background: url("../img/appstor.svg") 50% 50% / contain no-repeat;
  &:hover {
    background: url("../img/appstor-hover.svg") 50% 50% / contain no-repeat;
  }
}
.main_slider__playmarket {
  background: url("../img/playmarket.svg") 50% 50% / contain no-repeat;
  &:hover {
    background: url("../img/playmarket-hover.svg") 50% 50% / contain no-repeat;
  }
}

.benefits {
  max-width: 1100px;
  margin: 0 auto;
  transform: translateY(-34%);
  padding: 0 0 65px;
  border-bottom: 1px solid #eeeeee;
}

.benefits_slider {
  position: relative;
  .slick-list {
    overflow: hidden;
  }
  .slick-track {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
  h3 {
    margin: 0 0 7px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #cc005e;
  }
  img {
    margin: 0 0 16px;
    width: 100%;
    border-radius: 10px;
  }
  p {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #130947;
  }
  .slick-arrow {
    position: absolute;
    font-size: 0;
    width: 50px;
    height: 50px;
    z-index: 3;
    top: calc(33%);
  }
  .slick-arrow.slick-prev {
    left: calc(-55px);
    background: url("../img/arrow-1-back.svg") 50% 50% / contain no-repeat;
    &:hover {
      background: url("../img/arrow-back-hover.svg") 50% 50% / contain no-repeat;
    }
  }
  .slick-arrow.slick-next {
    right: calc(50% - 605px);
    background: url("../img/arrow-1-next.svg") 50% 50% / contain no-repeat;
    &:hover {
      background: url("../img/arrow-next-hover.svg") 50% 50% / contain no-repeat;
    }
  }
}

.benefits_slider_item {
  margin: 0 15px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    bottom: 30px;
    right: 30px;
  }
}

.benefits_slider_item_1 {
  &:after {
    background: url("../img/pc.svg") 50% 50% / 60% no-repeat, #cc005e;
  }
}

.benefits_slider_item_2 {
  &:after {
    background: url("../img/timer.svg") 50% 50% / 60% no-repeat, #cc005e;
  }
}

.benefits_slider_item_3 {
  &:after {
    background: url("../img/phone.svg") 50% 50% / 60% no-repeat, #cc005e;
  }
}

.slide_imag_1 {
}

.partner {
  margin: -290px 0 0;
}

.partner__row {
  margin-bottom: 21px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner__item {
  margin: 0 15px;
}

.partner__text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #130947;
}

.about_app {
  padding: 111px 0 206px;
}

.about_app__row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.about_app__item {
  overflow: visible;
  margin: 0 9px;
  img {
    width: 60%;
  }
}
.about_app__image {
  width: 55%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  background: url("../img/circle.svg") 50% 50% / cover no-repeat;
}

.about_app__info {
  width: 45%;
  .item_box {
    padding: 0 0 0 128px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: calc(50% - 150px);
      left: 48px;
      width: 2px;
      height: 300px;
      background-color: #dd1869;
    }
  }
  .about_app__info_block {
    margin: 0 0 50px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: calc(50% - 45px);
      left: -124px;
      display: inline-block;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 2px solid #dd1869;
      transition-duration: 500ms;
    }
  }
  .info_block_1 {
    &:before {
      background: url("../img/devices.svg") 50% 50% / 60% no-repeat, #fff;
    }
    &:hover:before {
      background: url("../img/devices-hover.svg") 50% 50% / 60% no-repeat,
        #dd1869;
    }
  }
  .info_block_2 {
    &:before {
      background: url("../img/cloud-1.svg") 50% 50% / 60% no-repeat, #fff;
    }
    &:hover:before {
      background: url("../img/cloud-1-hover.svg") 50% 50% / 60% no-repeat,
        #dd1869;
    }
  }
  .info_block_3 {
    &:before {
      background: url("../img/happy.svg") 50% 50% / 60% no-repeat, #fff;
    }
    &:hover:before {
      background: url("../img/happy-hover.svg") 50% 50% / 60% no-repeat, #dd1869;
    }
  }
}

.title {
  margin: 0 0 50px;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #130947;
}

.about_app__subtitle {
  margin: 0 0 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.about_app__text {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.function {
  padding: 0 0 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #130947;
  text-align: center;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #ffffff 0%,
    #ffffff 50%,
    #f9fbfb 51%,
    #f9fbfb 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #ffffff 0%,
    #ffffff 50%,
    #f9fbfb 51%,
    #f9fbfb 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 50%,
    #f9fbfb 51%,
    #f9fbfb 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9fbfb',GradientType=0 ); /* IE6-9 */
}

.function__title {
  margin: 0 0 12px;
}

.video_container {
  position: relative;
  padding: 55px 0;
  .function__video {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  .play {
    position: absolute;
    display: inline-block;
    top: calc(50% - 65px);
    left: calc(50% - 65px);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: url("../img/play.svg") 55% 50% / 30% no-repeat #fff;
    transition-duration: 500ms;
    &._playActive {
      transform: scale(0);
      opacity: 0;
    }

    &:before {
      content: "";
      position: absolute;
      display: inline-block;
      top: -35px;
      left: -35px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 1px solid #fff;
      transition-duration: 500ms;
    }
    &:after {
      content: "";
      position: absolute;
      display: inline-block;
      top: -70px;
      left: -70px;
      width: 270px;
      height: 270px;
      border-radius: 50%;
      border: 1px solid #fff;
      transition-duration: 500ms;
    }
    &:hover {
      cursor: pointer;

      &:before {
        top: -15px;
        left: -15px;
        width: 160px;
        height: 160px;
      }
      &:after {
        top: -17.5px;
        left: -17.5px;
        width: 165px;
        height: 165px;
      }
    }
  }
}

.function__subtitle {
  margin: 0 0 32px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #130947;
  text-align: left;
}

.function__row_1 {
  margin: 0 0 45px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  text-align: left;
  align-items: space-between;
}

.function__item_1 {
  flex-grow: 1;
}

.function__info {
  width: 55%;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.function__apps {
  width: 45%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  a {
    padding: 0 10px 0 50px;
    font-weight: 800;
    font-size: 14px;
    line-height: 45px;
    color: #ffffff;
    text-transform: uppercase;
  }
}

.function__appstore {
  display: block;
  width: 160px;
  height: 45px;
  background: #cc005e;
  border-radius: 3px;
  position: relative;
  transition-duration: 500ms;
  &:before {
    content: "";
    position: absolute;
    top: calc(50% - 15px);
    left: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url("../img/appstor-hover.svg") 50% 50% / 60% no-repeat, #fff;
  }

  &:hover {
    background-color: #ad0050;
  }
}

.function__playmarket {
  display: block;
  width: 160px;
  height: 45px;
  background: #cc005e;
  border-radius: 3px;
  position: relative;
  transition-duration: 500ms;
  &:before {
    content: "";
    position: absolute;
    top: calc(50% - 15px);
    left: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url("../img/playmarket-hover.svg") 65% 50% / 60% no-repeat, #fff;
  }

  &:hover {
    background-color: #ad0050;
  }
}

.function__row_2 {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.function__item_2 {
  margin: 0 60px 20px 0;
  padding: 0 0 0 16px;
  flex: 0 1 40%;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  position: relative;
  &:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #dd1869;
    position: absolute;
    top: 6px;
    left: 0;
  }
  &:last-child {
    margin: 0;
  }
}

.comment {
  padding: 105px 0;
}

.comment__title {
}

.title {
  text-align: center;
  margin-bottom: 12px;
}

.comment__info {
  max-width: 420px;
  margin: 0 auto 38px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #130947;
}

.comment_slider {
  .slick-list {
    overflow: hidden;
    margin: 0 -10px 45px;
    padding: 20px 0;
  }
  .slick-track {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    padding: 20px 0;
  }
  .slick-slide.slick-current {
    background: #fff;
    box-shadow: 0 0 15px rgba(#000, 0.15);
  }
  .slick-dots {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
  }
  .slick-dots li {
    margin: 0 5px;
  }
  .slick-dots li.slick-active {
    button {
      background: #cc005e;
    }
  }
  .slick-dots li button {
    font-size: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #f5f8fc;
  }
}

.comment_slider__item {
  margin: 0 10px;
  padding: 20px;

  border-radius: 3px;
  background: #f5f8fc;
}

.comment_slider__row1 {
  margin: 0 0 16px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  img {
    border-radius: 50%;
    width: 20%;
    margin-right: 18px;
  }
  .user_name {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #130947;
  }
}

.comment__text {
  margin: 0 0 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #706c7e;
}

.comment__row2 {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.comment__platform {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #130947;
}

@media (max-width: 1250px) {
  .benefits_slider .slick-arrow.slick-prev {
    left: 15px;
  }
  .benefits_slider .slick-arrow.slick-next {
    right: 14px;
  }
}

@media (max-width: 1056px) {
  .main_slider .slick-arrow.slick-prev {
    right: calc(50% - 400px);
  }
  .main_slider .slick-arrow.slick-next {
    right: calc(50% - 455px);
  }
}

@media (max-width: 1000px) {
  .main_slider .slick-arrow.slick-prev {
    right: calc(50% - 340px);
  }
  .main_slider .slick-arrow.slick-next {
    right: calc(50% - 395px);
  }
}

@media (max-width: 800px) {
  .about_app__row {
    display: -ms-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .main_slider .slick-arrow.slick-prev {
    right: calc(50% - 300px);
  }
  .main_slider .slick-arrow.slick-next {
    right: calc(50% - 355px);
  }
  .partner {
    margin: -230px 0 0;
  }
  .about_app {
    padding: 111px 0 10px;
  }
  .about_app__info {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .main_screen {
    transform: translateY(-18%);
  }
  .main_slider .slick-arrow.slick-prev {
    right: calc(50% - 200px);
  }
  .main_slider .slick-arrow.slick-next {
    right: calc(50% - 255px);
  }
  .benefits_slider_item {
    &:after {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      bottom: 30px;
      right: 5px;
    }
  }
  .partner__row {
    flex-wrap: wrap;
  }
  .function__apps {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .services__mail {
    display: none;
  }
  .benefits_slider_item {
    &:after {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      bottom: auto;
      top: 2px;
      right: 2px;
    }
  }
}

@media (max-width: 600px) {
  .function__row_2 {
    flex-direction: column;
    text-align: center;
  }
  .function__item_2::before {
    top: -6px;
    left: calc(50% - 4px);
  }
  .function__item_2::before {
    top: -6px;
    left: calc(50% - 4px);
  }
  .function__item_2::before {
    top: -10px;
    left: calc(50% - 4px);
  }
  .function__item_2 {
    margin: 0 0 20px 0;
    padding: 0 10px;
    flex: 1 1 100%;
  }
}

@media (max-width: 500px) {
  .main_slider .slick-arrow {
    top: 55%;
  }
  .main_slider .slick-arrow.slick-prev {
    right: calc(50% + 50px);
  }
  .main_slider .slick-arrow.slick-next {
    right: calc(50% - 100px);
  }
  .benefits_slider_item {
    &:after {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      bottom: 30px;
      right: 5px;
    }
  }
  .about_app__info {
    width: 90%;
  }
  .video_container {
    .play {
      top: calc(50% - 35px);
      left: calc(50% - 35px);
      width: 70px;
      height: 70px;
      &:before {
        top: -35px;
        left: -35px;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: 1px solid #fff;
        transition-duration: 500ms;
      }
      &:after {
        content: "";
        position: absolute;
        display: inline-block;
        top: -70px;
        left: -70px;
        width: 210px;
        height: 210px;
      }
      &:hover {
        cursor: pointer;

        &:before {
          top: -45px;
          left: -45px;
          width: 160px;
          height: 160px;
        }
        &:after {
          top: -47.5px;
          left: -47.5px;
          width: 165px;
          height: 165px;
        }
      }
    }
  }
  .comment {
    padding: 50px 0;
  }
}

@media (max-width: 400px) {
  .main_slider .slick-arrow {
    top: 47%;
  }
  .benefits_slider_item {
    &:after {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      bottom: 35px;
      right: 35px;
      top: auto;
    }
  }
  .partner {
    margin: -320px 0 0;
  }
  .about_app__info .item_box::before {
    top: calc(50% - 175px);
    height: 350px;
  }

  .about_app__info .item_box::before {
    top: calc(50% - 175px);
    height: 350px;
  }
  .function__row_1 {
    flex-direction: column;
  }
  .function__info {
    width: 100%;
    margin-bottom: 10px;
  }
  .function__apps {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .about_app__info {
    width: 100%;
  }
  .comment_slider__row1 img {
    width: 40%;
  }
}

@media (max-width: 350px) {
  .menu__icon {
    left: 15px;
  }
}
